body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#main{
  width: 100px;
  height: 100px;
  background: purple;
  margin: auto;
  margin-top: 50px;
}
.container{
  width: 50%;
  height: 550px;
  background: rgb(159, 233, 255);
  margin: auto;
  border: 2px solid black;
  margin-top: 20px;
}
#score{
  text-align:  center;
  margin-top: 20px;
}
#max{
  width: 200px;
  height: 200px;
  border: 2px solid purple;
  margin: auto;
  margin-top: 20px;
  background: white;
}
#letters{  
  width: 100px;
  height: 100px;
  background: rgb(57, 211, 57);
  margin: auto;
  margin-top: 40px;
  text-align: center;
  padding-top: 10px;
  font-size: 5em;
  color: white;
}
.start{
  margin-top: 30px;
}
.task_field{
  text-align: center;
}

